*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Navbar{
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  text-decoration: none;
}

.Navbar input{
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 15px;
  background-color: rgb(216, 211, 211);
}

.Submit{
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: rgb(216, 211, 211);
  cursor: pointer; 
}