*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Navbar{
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  text-decoration: none;
}

.Navbar input{
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: rgba(216, 211, 211, 0.651);
}

.Navbar a{
  text-decoration: none;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.692);
  font-size: 14px;
}

.Submit{
  padding: 12px;
  border-radius: 10px;
  background-color: rgba(216, 211, 211, 0.651);
  cursor: pointer;
  border: 0.5px solid rgb(71, 69, 69);
  color: rgba(0, 0, 0, 0.692); 
}

.section{
  display: flex;
  gap: 30px;
  padding: 10px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.397);
}

.section a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.692);
  font-weight: 500;
}

.section a.active {
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}
